* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;

    display: flex;
}

#left {
    width: 50%;
    height: 100%;
    background-color: white;
    text-align: left;
    padding-left: 5%;

}

#left h1 {
    text-transform: uppercase;
    text-size-adjust: 20%;
    color: blue;
    margin-top: 20%;
    font-size: 75px;
}

#left p {
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 15px;

}

#right {
    width: 50%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3);

}

#image-bg {
    width: 500px;
    height: 400px;
    background-color: #9d939354;
    margin: 10% 15%;
    position: relative;


}

#image {
    width: 500px;
    height: 400px;
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
}

#icons {
    display: flex;
    width: 100;
    margin-top: 15px;
    color: rgb(2, 2, 134);
}

a {
    text-decoration: none;
    color: rgb(2, 2, 134);
}



span {
    height: 27px;
    width: 76px;
    border: 5px solid rgb(2, 2, 134);
    border-radius: 152px;
    margin-left: 30px;
    font-size: 22px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.form-slide {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 2px solid #009097;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px;

}

input {

    border: none;
    margin: 1;
    border: 2px solid #33a6ac;
    width: 86%;
    font-size: 20px;
    margin-top: 20px;
    height: 58px;
    color: #125f63;
    padding: 9px;
}

button {
    width: 15%;
    margin-left: 71%;
    height: 52px;
    background: black;
    color: white;
    border: 0;
    font-size: 17px;
    margin-top: 52px;
    border-radius: 20px;
}

button:hover {
    background-color: rgba(19, 19, 143, 0.521);


}

.form-slide h1 {
    font-family: sans-serif;

    border-bottom: 2px solid #009097;
}


.testimonial {

    height: 380px;
    background: #dfdfdf;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: rgb(0, 0, 0, 0.7)url("../img/healthy-breakfast-1296x728-header.webp");
    background-size: cover;
    background-blend-mode: darken;
    color: white;

}
.container{
    
        width: 25%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    
}

.imgcon{
    width: 200px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    
}
.container img{
    width: 90%;
    /* height: 100%; */
    border-radius:50%;
    margin: 9px;
}

.r{
    width: 75%;
    padding-left: 50px;
    padding-right: 100px;
}
.r h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 900;
}
.r h3{
    font-family: sans-serif;

}
